<div class="hp-bg">
  <%= image_tag("garage.jpg", alt: "Background image representing the Libreverse environment", loading: "eager", decoding: "async") %>
</div>
<div class="hp-centerify">
  <div class="hp-main">
    <span class="large">Libreverse</span>
    <span class="small">Libre<br />verse</span>
  </div>

  <h2 class="hp-secondary">
    #Installment number infinity of open-source vs evil trillion dollar company.
  </h2>

  <p class="hp-instancelabel">This instance is:</p>

  <h3 class="hp-sectionheader">The principle:</h3>

  <p class="hp-text">
    On October 28, 2021, Mark Zuckerberg had become the laughing stock of the
    internet after rebranding Facebook to Meta Platforms as part of his efforts
    to create an online Metaverse. Three years later, it’s looking increasingly
    like the internet is becoming the laughing stock of Mark Zuckerberg, as the
    Metaverse grows ever closer to reality.
  </p>

  <%= link_to "Read more", "/whitepaper", class:"hp-link" %>

  <h3 class="hp-sectionheader">How to get started:</h3>

  <p class="hp-text">Just click this button. The Libreverse awaits you.</p>

  <div class="squisher">
    <a href="/" class="hp-enterbutton">Enter</a>
  </div>
</div>
