<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

<h1>Libreverse</h1>

<h2>#Installment number infinity of open-source vs evil trillion dollar company.</h2>

<h3>This instance is: </h3>

<h4>The principle:</h4>

<p>On October 28, 2021, Mark Zuckerberg had become the laughing stock of the internet
after rebranding Facebook to Meta Platforms as part of his efforts to create an online Metaverse.
Three years later, it’s looking increasingly like the internet is becoming the laughing
stock of Mark Zuckerberg, as the Metaverse grows ever closer to reality.<p>

<a <%= link_to 'Read more of the Whitepaper', '/whitepaper' %>