db/schema.rb linguist-generated
vendor/* linguist-vendored
config/credentials/*.yml.enc diff=rails_credentials
config/credentials.yml.enc diff=rails_credentials
/app/assets/twemoji/** filter=lfs diff=lfs merge=lfs -text
/app/assets/fontawesome/** filter=lfs diff=lfs merge=lfs -text
