# Store all files above 100MB in Git LFS
* filter=lfs diff=lfs merge=lfs -text if size > 100MB
# Mark db/schema.rb as linguist-generated
db/schema.rb linguist-generated=true
# Mark all files in vendor/ as linguist-vendored
vendor/* linguist-vendored=true
# Apply rails_credentials diff driver to encrypted credential files
config/credentials/*.yml.enc diff=rails_credentials
config/credentials.yml.enc diff=rails_credentials
app/client-ai-models/fastthink-0.5b-tiny-00002-of-00004.gguf.snappy filter=lfs diff=lfs merge=lfs -text
.codeql/codeql-cli/codeql/swift/tools/osx64/extractor.real filter=lfs diff=lfs merge=lfs -text
.codeql/codeql-cli/codeql/swift/resource-dir/osx64/host/lib_InternalSwiftScan.dylib filter=lfs diff=lfs merge=lfs -text
log/development.log.0 filter=lfs diff=lfs merge=lfs -text
.git/objects/pack/pack-722b41a5c9b161101b5bce88d0ce815fcb3af6d2.pack filter=lfs diff=lfs merge=lfs -text
.git/objects/62/45a76ae4b74fde304f81d0aa712eaa7e4c7a7b filter=lfs diff=lfs merge=lfs -text
.git/lfs/objects/71/79/7179e86dbb1a070a713a6cc2d5f062404c58b950d59ad04f1b1da1b704544f16 filter=lfs diff=lfs merge=lfs -text
node_modules/electron/dist/Electron.app/Contents/Frameworks/Electron[[:space:]]Framework.framework/Versions/A/Electron[[:space:]]Framework filter=lfs diff=lfs merge=lfs -text
.git/objects/pack/pack-8eabcc0516097befe9538fec95df25e17649a099.pack filter=lfs diff=lfs merge=lfs -text
.git/objects/pack/pack-f40bb0ea2271e557b425189df16a8fa3407b957e.pack filter=lfs diff=lfs merge=lfs -text
log/development.log filter=lfs diff=lfs merge=lfs -text
