**.svg
**.coffee
config/database.yml
config/queue.yml
config/cache.yml
vendor/**
node_modules/**
tmp/**
log/**
coverage/**
**/gems/**
**/haml_lint*/**
**/openid_connect*/**
**/iodine*/**
.codeql/**
config/locales/**