<% experiences.each do |experience| %>
  <article class="sp-experience" itemscope itemtype="https://schema.org/CreativeWork">
    <h3 itemprop="name"><%= experience.title %></h3>
    <div itemprop="description">
      <%= simple_format(experience.content) %>
    </div>
    <% if experience.author.present? %>
      <p class="sp-author">
        <span itemprop="author" itemscope itemtype="https://schema.org/Person">
          By <span itemprop="name"><%= experience.author %></span>
        </span>
      </p>
    <% end %>
    <% if experience.date_published.present? %>
      <meta itemprop="datePublished" content="<%= experience.date_published.iso8601 %>">
    <% end %>
  </article>
<% end %>