= render "layouts/sidebar"

= render "layouts/leniswrapper" do
  = render "layouts/navigationshortcutswrapper" do
    #lm-chat{"data-controller" => "webllm"}
      %h1.center Wllama Chat Interface

      .chat-container
        #chat-display.chat-display{"data-webllm-target" => "chatDisplay"}
          .message.system-message
            %strong System:
            Hello! I'm an IBM-Granite & Intel toxic-prompt-roberta powered AI assistant running directly in your browser that can take actions in libreverse on your behalf. Ask me anything!

        #chat-input-container.chat-input-container
          %input#user-input{"data-webllm-target" => "userInput", type: "text", placeholder: "Type your message here..."}
          %button#send-button{"data-webllm-target" => "sendButton", "data-action" => "click->webllm#sendMessage"} Send
