= render "layouts/sidebar"

= render "layouts/leniswrapper" do
  = render "layouts/navigationshortcutswrapper" do
    #lm-chat{"data-controller" => "llm"}
      .chat-container
        #chat-display.chat-display{"data-llm-target" => "chatDisplay"}
        #chat-input-container.chat-input-container
          %input#user-input{"data-llm-target" => "userInput", type: "text", placeholder: "Type your message here..."}
          %button#send-button{"data-llm-target" => "sendButton", "data-action" => "click->llm#sendMessage"} Send
