@use "variables";
@use "foundation";
@use "boilerplate";
@use "normalise.scss/normalise";
@use "globals";
@use "turbo";
@use "glass_system"; // Import glass system early
@use "components/_toast";
@use "homepage";
@use "search";
@use "login";
@use "createaccount";
@use "changepassword";
@use "sidebar";
@use "sidebar_popover";
@use "off_canvas";
@use "experiencedisplay";
@use "experiences";
@use "dashboard";
@use "form";
@use "components/_form_validation";
@use "emoji";
@use "password_requirements";
@use "locomotive_scroll";
@use "consent";
@use "settings";
@use "fonts";
@use "site_footer";
@use "blog";
// Note: Removed glass.css import - now handled by glass_system

// Ensure legacy admin glass fallbacks don't override the new liquid glass
@use "glass_overrides";

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    position: fixed;
    overflow: hidden;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
}

// Foundation overrides
.alert {
    padding: 1rem !important;
}
