@use "variables";
@use "boilerplate";
@use "normalise.scss/normalise";
@use "globals";
@use "turbo";
@use "components/_toast";

html:not(.js-loaded) {
    overflow: hidden;
    height: 100%;
    position: fixed;
    width: 100%;
}

html,
body {
    overflow-x: hidden;
}
