@use "variables";
@use "boilerplate";
@use "normalise.scss/normalise";
@use "globals";
@use "turbo";
@use "components/_toast";
@use "homepage";
@use "search";
@use "login";
@use "createaccount";
@use "changepassword";
@use "sidebar";
@use "experiencedisplay";
@use "experiences";
@use "dashboard";
@use "form";
@use "emoji";
@use "drawer";
@use "password_requirements";
@use "lenis";
@use "consent";

html,
body {
    width: 100%;
    height: 100%;
}

html:not(.js-loaded) {
    overflow: hidden;
    position: fixed;
}

.underconstruction {
    background-color: #fdf3dc;
    color: #333;
    padding: 15px;
    top: 0;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: top 0.3s;
    border: 1px solid #c0b9a8;
}
