@use "variables";
@use "boilerplate";
@use "normalise.scss/normalise";
@use "globals";
@use "turbo";
@use "components/_toast";

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
