@use "variables";
@use "boilerplate";
@use "normalise.scss/normalise";
@use "globals";
@use "turbo";
@use "components/_toast";
@use "homepage";
@use "search";
@use "login";
@use "createaccount";
@use "changepassword";
@use "sidebar";
@use "experiencedisplay";
@use "experiences";
@use "dashboard";
@use "form";
@use "emoji";
@use "drawer";
@use "password_requirements";
@use "lenis";
@import "consent";

html,
body {
    width: 100%;
    height: 100%;
}

html:not(.js-loaded) {
    overflow: hidden;
    position: fixed;
}
