@use "variables";
@use "boilerplate";
@use "normalise.scss/normalise";
@use "globals";
@use "turbo";
@use "components/_toast";
@use "homepage";
@use "search";
@use "login";
@use "createaccount";
@use "changepassword";
@use "sidebar";
@use "experiencedisplay";
@use "experiences";
@use "dashboard";
@use "form";
@use "emoji";
@use "drawer";
@use "password_requirements";
@use "locomotive_scroll";
@use "consent";
@use "settings";

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    position: fixed;
    overflow: hidden;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
}
