@use "variables";
@use "foundation";
@use "boilerplate";
@use "normalise.scss/normalise";
@use "globals";
@use "turbo";
@use "glass_system"; // Import glass system early
@use "components/_toast";
@use "homepage";
@use "search";
@use "login";
@use "createaccount";
@use "changepassword";
@use "sidebar";
@use "sidebar_popover";
@use "off_canvas";
@use "experiencedisplay";
@use "experiences";
@use "dashboard";
@use "form";
@use "components/_form_validation";
@use "emoji";
@use "password_requirements";
@use "consent";
@use "settings";
@use "fonts";
@use "site_footer";
@use "blog";
@use "comments";
@use "admin_comments";
@use "components/_metaverse_map";
@use "glass_overrides";
@use "lm";
@use 'lenis/dist/lenis.css';
@import "thredded/thredded";

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
}

.lenis-wrapper,
.lenis {
    height: 100vh;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.lenis-wrapper::-webkit-scrollbar,
.lenis::-webkit-scrollbar {
    display: none;
}

.lenis-content {
    min-height: 100%;
    margin: 0;
    padding: 0;
}

// Override Lenis default that sets html/body height to auto
html.lenis,
html.lenis body {
    height: 100%;
}

// Optimize parallax elements for GPU acceleration
[data-controller*="parallax"] {
    will-change: transform;
    backface-visibility: hidden;
    perspective: 1000px;
    transform: translateZ(0);
}

// Foundation overrides
.alert {
    padding: 1rem;
}

.hidden {
    display: none;
}