@use "boilerplate";
@use "variables";

.banner {
  position: fixed;
  bottom: 10px;
  right: 10px;
  margin-bottom: 0;
  z-index: 2;
  max-width: 300px;
  box-shadow: 0 4px 8px variables.$box-shadow;
}
