@use "boilerplate";
@use "variables";

/* Drawer container styles */
.drawer {
  display: flex;
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 0 2.5%;
  height: 60px; /* Fixed height when collapsed */
  width: 350px;
  background-color: variables.$glass;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 30px variables.$box-shadow;
  border-top: 1px solid variables.$glass-border;
  border-left: 1px solid variables.$glass-border;
  border-right: 1px solid variables.$glass-border;
  border-radius: 20px 20px 0 0;
  overflow: hidden;
  z-index: 3;
  transition: height 0.3s ease;
  flex-direction: column-reverse;
}

.drawer.drawer-expanded {
  height: 400px; /* Expanded height */
}

.drawer-container {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 60px;
  display: flex;
  z-index: 2;
  transition: height 0.3s;
}

/* Always visible part */
.drawer-contents {
  width: 60px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 0;
  padding: 2px;
  box-sizing: border-box;
  overflow: hidden;
  transition: height 0.3s ease;
}

.drawer-expanded .drawer-contents {
  height: calc(400px - 60px); // Total height minus the fixed 60px
}

.drawer-toggle {
  width: 60px;
  height: 60px;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.drawer-icons {
  width: 100%;
  user-select: none;
  transition: transform 0.3s ease;
}

.drawer.drawer-expanded .drawer-icons {
  transform: rotate(180deg); /* Rotate icon when expanded */
}
