.emoji {
    display: inline-block !important;
    height: 1em !important;
    width: 1em !important;
    margin: 0 0.05em 0 0.1em !important;
    vertical-align: -0.1em !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: 1em 1em !important;

    /* filter drop-shadow provides a closer visual match for images/backgrounds */
    filter: drop-shadow(1px 1px 2px rgb(0 0 0 / 50%));
}
