@font-face {
  font-family: "Lazer84";
  src:
    url("~/fonts/Lazer84.woff2") format("woff2"),
    url("~/fonts/Lazer84.woff") format("woff"),
    url("~/fonts/Lazer84.ttf") format("truetype");
  font-display: block;
  font-style: normal;
}

@font-face {
  font-family: Hack;
  src:
    url("~/fonts/Hack-Regular.woff2") format("woff2"),
    url("~/fonts/Hack-Regular.woff") format("woff"),
    url("~/fonts/Hack-Regular.ttf") format("truetype");
  font-display: block;
  font-style: normal;
}

@font-face {
  font-family: Hack-Italic;
  src:
    url("~/fonts/Hack-Italic.woff2") format("woff2"),
    url("~/fonts/Hack-Italic.woff") format("woff"),
    url("~/fonts/Hack-Italic.ttf") format("truetype");
  font-display: block;
  font-style: italic;
}

@font-face {
  font-family: Libre-Franklin;
  src: url("~/fonts/Libre-Franklin.ttf") format("truetype");
  font-display: block;
  font-style: normal;
}
