@use "variables";

* {
    text-rendering: geometricprecision;
}

.noscript-message {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    background: black;
    z-index: 2147483646;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    &__content {
        max-width: 400px;
        margin: 0 auto;
    }

    &__heading {
        font-size: 1.75rem;
        margin-bottom: 16px;
        color: white;
    }

    &__text {
        color: white;
    }
}
