@use "variables";

* {
    text-rendering: geometricprecision;
}

*.glass-active {
    *:not(.glass-container) {
        position: relative ;
    }
}

.turbo-progress-bar {
    will-change: width, opacity;
}

.noscript-message {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    background: black;
    z-index: 2147483646;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    &__content {
        max-width: 400px;
        margin: 0 auto;
    }

    &__heading {
        font-size: 1.75rem;
        margin-bottom: 16px;
        color: white;
    }

    &__text {
        color: white;
    }
}

main.content-wrapper {
    /* height: 100%; */
    position: relative;
}

[data-scroll-container] {
    /* height: 100%; */
    min-height: 100vh;
}
