@use "variables";

.hp-main {
  font-family: "Lazer84", cursive;
  color: variables.$hp-primary;
  margin: 0;
  padding: 0 20px;
  width: calc(100% - 40px);
  white-space: nowrap;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hp-main .large {
  font-size: 15vw;
}

.hp-main .small {
  display: none;
}

@media (width <= 600px) {
  .hp-main .large {
    display: none;
  }

  .hp-main .small {
    display: inline;
    font-size: 25vw;
  }
}

.hp-main span {
  font-size: clamp(100px, 15vw, 200px);
  transition: font-size 0.3s ease;
}

@media screen and (width <= 600px) {
  .hp-main {
    white-space: normal;
    word-wrap: break-word;
    line-height: 0.9;
    margin-top: 5%;
    margin-bottom: 5%;
  }
}

.hp-secondary {
  font-family: Hack-Italic, monospace;
  font-size: 24px;
  color: variables.$hp-primary;
  margin-bottom: 20px;
  margin-left: 16.5%;
  margin-right: 16.5%;
  text-align: center;
}

@media screen and (width <= 600px) {
  .hp-hp-secondary {
    font-size: 18px;
  }
}

.hp-instancelabel {
  font-family: Hack, monospace;
  font-size: 20px;
  color: variables.$hp-secondary;
  background-color: variables.$pill-background;
  margin: 0 auto 30px;
  padding: 20px;
  display: inline-block;
  max-width: 90%;
  white-space: nowrap;
  border-radius: 5px;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 30px variables.$box-shadow;
}

@media screen and (width <= 600px) {
  .hp-instancelabel {
    font-size: 18px;
  }
}

.hp-sectionheader {
  font-family: Hack, monospace;
  font-size: 20px;
  color: variables.$hp-primary;
  text-align: left;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 20px;
}

@media screen and (width <= 600px) {
  .hp-sectionheader {
    font-size: 18px;
  }
}

.hp-link {
  font-family: Hack, monospace;
  font-size: 18px;
  color: variables.$hp-secondary;
  margin-left: 15%;
  margin-right: 15%;
  text-decoration: underline;
}

@media screen and (width <= 600px) {
  .hp-link {
    font-size: 16px;
  }
}

.hp-enterbutton {
  font-family: Hack, monospace;
  font-size: 20px;
  color: variables.$hp-secondary;
  margin-left: 15%;
  margin-right: 15%;
  text-decoration: underline;
}

@media screen and (width <= 600px) {
  .hp-enterbutton {
    font-size: 18px;
  }
}

.hp-text {
  font-family: Hack, monospace;
  font-size: 18px;
  color: variables.$hp-primary;
  text-align: left;
  margin: 15px 15% 10px;
  max-width: 70%;
}

@media screen and (width <= 600px) {
  .hp-text {
    font-size: 16px;
  }
}

.hp-centerify {
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.hp-bg {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  overflow: hidden;
  background-color: variables.$background;
}

.hp-bg img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: blur(10px);
  user-select: none;
}

.squisher {
  display: flex;
}
