@font-face {
  font-family: "Lazer84";
  src:
    url("~/fonts/Lazer84.woff2") format("woff2"),
    url("~/fonts/Lazer84.woff") format("woff"),
    url("~/fonts/Lazer84.ttf") format("truetype");
  font-display: swap;
  font-style: normal;
}
