@use "variables";
@use "sass:color";
@use "fonts/Lazer84";
@use "fonts/Hack";
@use "fonts/Hack-Italic";

.sp-main {
    font-family: "Lazer84", cursive;
    color: variables.$sp-primary;
    margin: 0;
    padding: 0 20px;
    width: calc(100% - 40px);
    white-space: nowrap;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.sp-main h1.large,
.sp-main span.small {
    margin: 0;
    padding: 0;
    line-height: 1;
}

.sp-main .large {
    font-size: 7.5vw;
}

.sp-main .small {
    display: none;
}

@media (width <= 600px) {
    .sp-main .large {
        display: none;
    }

    .sp-main .small {
        display: inline;
        font-size: 12.5vw;
    }
}

.sp-main span {
    font-size: clamp(100px, 15vw, 200px);
    transition: font-size 0.3s ease;
}

@media screen and (width <= 600px) {
    .sp-main {
        white-space: normal;
        word-wrap: break-word;
        line-height: 0.9;
        margin-top: 5%;
        margin-bottom: 5%;
    }
}

@mixin sp-aligner {
    margin: 15px 17.5% 10px;
}

@mixin lesser-sp-aligner {
    margin: 15px 12.5% 10px;
}

@mixin modified-lesser-sp-aligner {
    margin: 15px 10% 10px;
}

@mixin modified-lesser-sp-aligner-tutorial {
    margin: 0 10% 10px;
}

.sp-search-bar {
    display: flex;
    flex-grow: 1;
}

.sp-search-bar-input {
    background-color: variables.$glass;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 30px variables.$box-shadow;
    border: 1px solid variables.$glass-border;
    color: variables.$sp-primary;
    font-family: Hack, monospace;
    flex-grow: 1;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
}

.sp-search-bar-input:focus {
    outline: none;
    border-color: variables.$sp-primary;
    box-shadow: 0 0 5px rgb(0 0 0 / 30%);
}

@media screen and (width <= 600px) {
    .sp-search-bar-input {
        font-size: 16px;
    }
}

.sp-experiences-list {
    @include modified-lesser-sp-aligner;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    font-family: Hack, monospace;
    font-size: 18px;
    color: variables.$sp-primary;
}

@media screen and (width <= 600px) {
    .sp-experiences-list {
        grid-template-columns: repeat(1, 1fr);
        font-size: 16px;
    }
}

.sp-experience {
    background-color: variables.$glass;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 30px variables.$box-shadow;
    border: 1px solid variables.$glass-border;
    border-radius: 5px;
    padding: 0;
    text-align: center;
    min-height: 50px;
}

.sp-bg {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    overflow: hidden;
    background-color: variables.$background;

    // Style for the raindrop effect iframe
    .raindrop-iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: none;
        pointer-events: none;
        z-index: 0;
        background: transparent;
    }
}

.sp-bg img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: blur(10px);
    user-select: none;
}

.sp-centerify {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (width <= 600px) {
    .sp-sectionheader {
        font-size: 18px;
    }
}

.sp-author {
    font-family: Hack-Italic, monospace;
    font-size: 18px;
    color: variables.$sp-primary;
    text-align: left;
    margin: 5px 15%;
}

@media screen and (width <= 600px) {
    .sp-author {
        font-size: 16px;
    }
}

.search-tutorial {
    @include modified-lesser-sp-aligner-tutorial;

    position: relative;
    background-color: variables.$glass;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 30px variables.$box-shadow;
    border: 1px solid variables.$glass-border;
    border-radius: 5px;
    padding: 1.5rem;
    border-left: 4px solid variables.$sp-primary;
    transition:
        opacity 0.3s ease,
        max-height 0.5s ease,
        margin-bottom 0.5s ease;
    overflow: hidden;

    &.dismissed {
        opacity: 0;
        max-height: 0;
        padding: 0;
        margin-bottom: 0;
        border: none;
        pointer-events: none;
    }

    .tutorial-dismiss {
        position: absolute;
        top: 12px;
        right: 12px;
    }

    .dismiss-button {
        background: transparent;
        border: none;
        cursor: pointer;
        padding: 5px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.2s;

        &:hover {
            background-color: variables.$white-20;
        }

        svg {
            color: variables.$white-60;
            transition: color 0.2s;
        }

        &:hover svg {
            color: variables.$white-90;
        }
    }

    .tutorial-heading {
        font-family: Hack, monospace;
        color: variables.$sp-primary;
        margin-top: 0;
        margin-bottom: 0.5rem;
        font-size: 1.25rem;
    }

    .tutorial-description {
        color: variables.$white-80;
        margin-bottom: 0;
        font-family: Hack, monospace;
    }
}
