@use "boilerplate";
@use "variables";

.sidebar {
  width: 50px;
  height: 80vh;
  background-color: variables.$glass;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 30px variables.$box-shadow;
  border-top: 1px solid variables.$glass-border;
  border-right: 1px solid variables.$glass-border;
  border-bottom: 1px solid variables.$glass-border;
  border-radius: 0 20px 20px 0;
  z-index: 5;
  transition: width 0.3s;
  position: fixed;

  &.sidebar-hovered {
    width: 100px;
  }
}

.sidebar-container {
  width: 50px; // Matches the initial width of .sidebar
  height: 100vh; // Matches the height of .sidebar
  position: fixed;
  z-index: 4;
  display: flex;
  align-items: center;
  transition: width 0.3s;

  &.sidebar-hovered {
    width: 100px; // Matches the width of .sidebar when hovered
  }

  @media (width <= 600px) {
    width: 25px; // Matches the width of .sidebar for small screens

    &.sidebar-hovered {
      width: 75px; // Matches the width of .sidebar when hovered for small screens
    }
  }

  @media (width >= 1501px) {
    width: 100px; // Matches the width of .sidebar for large screens
  }
}

.sidebar-contents {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 0 2px;
  box-sizing: border-box;
}

.sidebar-icons {
  width: 100%;
  user-select: none;
}

.sidebar-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 0;
}

.sidebar-logout-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 2px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

@media (width <= 600px) {
  .sidebar {
    width: 25px;
    border-radius: 0 10px 10px 0;
  }

  .sidebar.sidebar-hovered {
    width: 75px;
  }
}

@media (width >= 601px) and (width <= 1500px) {
  .sidebar {
    width: 50px;
  }
}

@media (width >= 1501px) {
  .sidebar {
    width: 100px;
  }
}

@keyframes sidebar-shake {
  0%,
  100% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(2deg);
  }

  75% {
    transform: rotate(-2deg);
  }
}

.sidebar-not-allowed-shake {
  animation: sidebar-shake 0.75s ease-in-out infinite;
}

.sidebar-default-cursor {
  cursor: default;
}

.sidebar-current {
  filter: brightness(0.75);
}
