@use "variables";

.turbo-progress-bar {
    height: 10px;
    background-color: variables.$progress-bar;
    border-radius: 0 0 2px;
}

.turbo-loading {
    cursor: wait !important;
}

/* Add a subtle indicator to input elements during form submissions */
.turbo-submitting input,
.turbo-submitting select,
.turbo-submitting textarea,
.turbo-submitting button {
    opacity: 0.7;
    transition: opacity 0.3s;
}

/* Prevent multiple submissions while form is submitting */
.turbo-submitting {
    pointer-events: none;
}
