@use "variables";

.turbo-loading {
    pointer-events: none !important; /* Disables pointer events on body */
    position: relative; /* Ensures pseudo-element positioning */
}

.turbo-loading::before {
    content: "";
    position: fixed; /* Cover the entire viewport */
    inset: 0;
    cursor: wait !important; /* Displays the wait cursor */
    pointer-events: auto !important; /* Allows pseudo-element to show cursor */
    z-index: 9999; /* Ensures it’s on top */
}

/* Add a subtle indicator to input elements during form submissions */
.turbo-submitting input,
.turbo-submitting select,
.turbo-submitting textarea,
.turbo-submitting button {
    opacity: 0.7;
    transition: opacity 0.3s;
}

/* Prevent multiple submissions while form is submitting */
.turbo-submitting {
    pointer-events: none;
}
