$box-shadow: rgb(0 0 0 / 20%);
$hp-primary: #989ef1;
$hp-secondary: #b09ffc;
$pill-background: rgb(5 13 31 / 75%);
$background: #0e0e0e;
$glass: rgb(128 128 128 / 30%);
$glass-border: rgb(255 255 255 / 30%);
$progress-bar: #472a43;
$sp-primary: #c995a4;
$sidebar-icon: #808080;
