@use "boilerplate";

$box-shadow: rgb(0 0 0 / 20%);
$hp-primary: #989ef1;
$hp-secondary: #b09ffc;
$vulcan: #0f1420;
$mirage: #17202a;
$ebony: #0e0c23;
$background: #0e0e0e;
$background-light: #f8f9fa;
$glass: rgb(128 128 128 / 30%);
$glass-border: rgb(255 255 255 / 30%);
$progress-bar: #472a43;
$sp-primary: #c995a4;
$sidebar-icon: #808080;
$login-primary: #9b84ff;
$createaccount-primary: #9b84ff;
$primary: #007bff;
$success: #28a745;
