$wp-primary: #dbbcb3;
$wp-secondary: #64acb6;
$background: #0e0e0e;

.wp-main {
  font-family: "Lazer84";
  color: $wp-primary;
  margin: 0;
  padding: 0 20px;
  width: calc(100% - 40px);
  white-space: nowrap;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wp-main span {
  transition: font-size 0.3s ease;
}

/* Default styles for all screen sizes */
.wp-main .large {
  font-size: 15vw; /* Large size by default for bigger screens */
}

.wp-main .medium,
.wp-main .small {
  display: none; /* Hide medium and small by default */
}

/* Small screens - typically mobile devices */
@media (max-width: 480px) {
  .wp-main .large,
  .wp-main .medium {
    display: none;
  }

  .wp-main .small {
    display: inline;
    font-size: 25vw; /* Adjust as necessary for visibility */
    white-space: normal;
    line-height: 1.2; /* Adjust for better readability */
  }

  .wp-main {
    flex-direction: column;
    word-wrap: break-word;
  }
}

/* Medium screens - tablets */
@media (min-width: 481px) and (max-width: 1024px) {
  .wp-main .large,
  .wp-main .small {
    display: none;
  }

  .wp-main .medium {
    display: inline;
    font-size: 10vw; /* Adjust size for tablets */
  }
}

/* Large screens - desktops */
@media (min-width: 1025px) {
  .wp-main .medium,
  .wp-main .small {
    display: none;
  }

  .wp-main .large {
    font-size: 10vw; /* Could be adjusted based on design preference */
  }
}

/* Ensure the font size has a minimum and maximum */
.wp-main span {
  font-size: clamp(50px, 15vw, 200px);
}

.wp-secondary {
  font-family: "Hack-Italic";
  font-size: 24px;
  color: $wp-primary;
  margin-bottom: 20px;
  margin-left: 16.5%;
  margin-right: 16.5%;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .wp-secondary {
    font-size: 18px;
  }
}

.wp-sectionheader {
  font-family: "Hack";
  font-size: 20px;
  color: $wp-primary;
  text-align: left;
  margin-left: 15%;
  margin-right: 15%;
}

@media screen and (max-width: 600px) {
  .wp-sectionheader {
    font-size: 18px;
  }
}

.wp-text {
  font-family: "Hack";
  font-size: 18px;
  color: $wp-primary;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}

@media screen and (max-width: 600px) {
  .wp-text {
    font-size: 16px;
  }
}

.wp-link {
  font-family: "Hack";
  font-size: 18px;
  color: $wp-secondary;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 35px;
  text-decoration: underline;
}

@media screen and (max-width: 600px) {
  .wp-link {
    font-size: 16px;
  }
}

.wp-centerify {
  justify-content: center;
  display: flex;
  flex-direction: column;
}


.wp-bg {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  overflow: hidden;
  background-color: $background;
}

.wp-bg img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: blur(10px);
}
