-# filepath: /Users/george/Libreverse/app/views/experiences/display.haml
%iframe.experiencedisplay-iframe{ allow: "pointer-lock",
                                sandbox: "allow-scripts allow-pointer-lock",
                                srcdoc: @html_content.to_s,
                                title: "Experience: #{@experience.title}" }
