# TiDB configuration for Libreverse
# TiDB is MySQL-compatible distributed database
default: &default
    adapter: trilogy
    encoding: utf8mb4
    collation: utf8mb4_unicode_ci
    pool: <%= 
      cpu_cores = Etc.nprocessors / 2
      threads = [[cpu_cores * 2 - 4, 5].max, 20].min
      threads
    %>
    # TiDB-friendly connection settings
    reconnect: true
    connect_timeout: 10
    read_timeout: 30
    write_timeout: 30
    checkout_timeout: 5
    # TiDB works well with these MySQL variables
    variables:
        sql_mode: 'STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION'
        # TiDB handles distributed transactions well
        transaction_isolation: 'READ-COMMITTED'

development:
    <<: *default
    database: libreverse_development
    username: root
    password: 
    host: 127.0.0.1
    port: 4000

test:
    <<: *default
    database: libreverse_test
    username: root
    password: 
    host: 127.0.0.1
    port: 4000

production:
    primary:
        <<: *default
        database: libreverse_production
        username: main
        password: <%= ENV["TIDB_PASSWORD"] %>
        host: localhost
        port: 4000
    queue:
        <<: *default
        database: libreverse_production
        username: main
        password: <%= ENV["TIDB_PASSWORD"] %>
        host: localhost
        port: 4000
        migrations_paths: db/queue_migrate
    cache:
        <<: *default
        database: libreverse_production
        username: main
        password: <%= ENV["TIDB_PASSWORD"] %>
        host: localhost
        port: 4000
        migrations_paths: db/cache_migrate
    cable:
        <<: *default
        database: libreverse_production
        username: main
        password: <%= ENV["TIDB_PASSWORD"] %>
        host: localhost
        port: 4000
        migrations_paths: db/cable_migrate