phusion-passenger: cd .. && bundle exec passenger start
vite: cd .. && bin/vite dev
shakapacker-asset-server: cd .. && bin/shakapacker-dev-server  
shakapacker-client: cd .. && CLIENT_BUNDLE_ONLY=yes bin/shakapacker-isr  
shakapacker-server: cd .. && SERVER_BUNDLE_ONLY=yes bin/shakapacker --watch  
mailhog: cd .. && mailhog  
stimulus-manifest-regenerator: cd .. && bin/manifest-isr  
dev-proxy: cd .. && APP_PORT=3002 CADDY_PORT=3000 ./scripts/start-http3-dev.sh  
anycable-go: cd .. && bin/anycable-go