# This is just a procfile named differently
phusion-passenger: cd .. && bundle exec passenger start
vite: cd .. && bin/vite dev
shakapacker-asset-server: cd .. && bin/shakapacker-dev-server
shakapacker-client: cd .. && CLIENT_BUNDLE_ONLY=yes bin/shakapacker-isr
shakapacker-server: cd .. && SERVER_BUNDLE_ONLY=yes bin/shakapacker --watch
sidekiq: cd .. && bundle exec sidekiq -C config/sidekiq.yml
mailhog: cd .. && mailhog
stimulus-manifest-regenerator: cd .. && bin/manifest-isr
electron: cd .. && npx electron-forge start
dev-proxy: cd .. && APP_PORT=3002 CADDY_PORT=3000 ./scripts/start-http3-dev.sh
