webserver: cd .. && APP_PORT=3002 bin/puma
background-tasks: cd .. && bin/jobs
websocket-server-rpc: cd .. && bundle exec anycable
vite: cd .. && bin/vite dev
mail-receiver: cd .. && mailhog
websocket-server: cd .. && bin/anycable-go
dev-proxy: cd .. && APP_PORT=3002 CADDY_PORT=3000 ./scripts/start-http3-dev.sh
webpack: cd .. && ./bin/shakapacker-isr
