webserver: cd .. && APP_PORT=3000 bin/falcon
tasks: cd .. && bin/jobs
websocket-broker: cd .. && bundle exec anycable
vite: cd .. && bin/vite dev
mail-receiver: cd .. && mailhog  
websockets: cd .. && bin/anycable-go
boottrace: bash -c 'while ! ls tmp/boottrace* >/dev/null 2>&1; do sleep 1; done; tail -f tmp/boottrace*'