@font-face {
    font-family: "Lazer84";
    src: url("Lazer84.ttf") format("truetype");
}

@font-face {
    font-family: "Hack";
    src: url("Hack-Regular.ttf") format("truetype");
}  

@font-face {
    font-family: "Hack-Italic";
    src: url("Hack-Italic.ttf") format("truetype");
}