* {
  scroll-behavior: smooth;
}

/*snippet first found on stackoverflow modified by xAI grok 2 to work in firefox*/
html {
  overflow: hidden;
  height: 100%;
  overscroll-behavior: contain;
}

body {
  height: 100%;
  overflow: auto;
  overscroll-behavior-y: none;
  overscroll-behavior-x: none;
}
/*end snippet*/
