* {
  scroll-behavior: smooth;
}

/*snippet first found on stackoverflow modified by xAI grok 2 to work in firefox*/
html {
  overflow: hidden;
  height: 100%;
  overscroll-behavior: contain;
}

body {
  height: 100%;
  overflow: auto;
  overscroll-behavior-y: none;
}
/*end snippet*/

.turbo-progress-bar{
  background-color: #59829f;
}

.sidebar {
  width: auto;
  height: auto;
  position: fixed;
  background-color: rgba(128, 128, 128, 0.3);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 0 20px 20px 0;
  display: flex;
  align-items: center;
  z-index: 2;
}

.sidebar-container {
  width: 100px;
  height: 100vh;
  position: fixed;
  z-index: 2;
  display: flex;
  align-items: center;
}

.sidebar-icon{
  padding: 5px;
  filter: invert(50%)
  
}
