html {
  overflow: hidden;
  height: 100%;
  overscroll-behavior: contain;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  overflow: auto;
  overscroll-behavior-y: none;
}

.turbo-progress-bar {
  background-color: $progress-bar;
}
