$font-colour: #989ef1;
$background-colour: #040206;
$image-url: "garage.avif";
$label-colour: #050d1fc5;

@font-face {
  font-family: "Lazer84";
  src: url("Lazer84.ttf") format("truetype");
}
@font-face {
  font-family: "Hack";
  src: url("hack-regular-subset.woff2") format("woff2");
}
@font-face {
  font-family: "Hack-Italic";
  src: url("hack-italic-subset.woff2") format("woff2");
}

.main {
  font-family: "Lazer84";
  font-size: 200px;
  color: $font-colour;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 0px;
  margin-bottom: 0px;
}

.secondary {
  font-family: "Hack-Italic";
  font-size: 24px;
  color: $font-colour;
  margin-bottom: 20px;
  margin-left: 16.5%;
  margin-right: 16.5%;
  text-align: center;
}

.instancelabel {
  font-family: "Hack";
  font-size: 20px;
  color: #b09ffc;
  margin-bottom: 30px;
  background-color: $label-colour;
  margin: 0 auto;
  padding: 20px;
  width: 15%;
}

.sectionheader {
  font-family: "Hack";
  font-size: 20px;
  color: $font-colour;
  text-align: left;
  margin-left: 15%;
  margin-right: 15%;
}


.link {
  font-family: "Hack";
  font-size: 18px;
  color: #b09ffc;
  margin-left: 15%;
  margin-right: 15%;

}

.enterbutton {
  font-family: "Hack";
  font-size: 20px;
  color: #b09ffc;
  margin-bottom: 30px;
  background-color: $label-colour;
  padding: 20px;
  width: 5%;
  margin-left: 15%;
  margin-right: 15%;
  text-align: center;
}

.text {
  font-family: "Hack";
  font-size: 18px;
  color: $font-colour;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}

.centerify {
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.bg {

  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background: url($image-url) no-repeat center center fixed, $background-colour;
  background-size: cover;
  position: fixed;
  overflow: hidden;
}