/*mostly taken from the pre-rewrite libreverse codebase*/

.hp-main {
  font-family: "Lazer84";
  color: $hp-primary;
  margin: 0;
  padding: 0 20px;
  width: calc(100% - 40px);
  white-space: nowrap;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hp-main span {
  /* Initially, both spans are shown, but we'll hide one based on screen size */
  transition: font-size 0.3s ease;
}

/* Default font size for larger screens */
.hp-main .large {
  font-size: 15vw; /* Using vw for responsive sizing relative to viewport width */
}

/* Hide the small text version by default */
.hp-main .small {
  display: none;
}

/* Adjust font size for smaller screens */
@media (max-width: 600px) {
  .hp-main .large {
    display: none;
  }

  .hp-main .small {
    display: inline;
    font-size: 25vw; /* Larger for visibility, could be adjusted */
  }
}

/* Ensure the font size doesn't get too small or too large */
.hp-main span {
  font-size: clamp(100px, 15vw, 200px);
}

@media screen and (max-width: 600px) {
  .hp-main {
    white-space: normal;
    word-wrap: break-word;
    line-height: 0.9;
    margin-top: 5%;
    margin-bottom: 5%;
  }
}

.hp-secondary {
  font-family: "Hack-Italic";
  font-size: 24px;
  color: $hp-primary;
  margin-bottom: 20px;
  margin-left: 16.5%;
  margin-right: 16.5%;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .hp-hp-secondary {
    font-size: 18px;
  }
}

.hp-instancelabel {
  font-family: "Hack";
  font-size: 20px;
  color: $hp-secondary;
  background-color: $pill-background;
  margin: 0 auto 30px;
  padding: 20px;
  display: inline-block;
  max-width: 90%;
  white-space: nowrap;
  border-radius: 2px;
}

@media screen and (max-width: 600px) {
  .hp-instancelabel {
    font-size: 18px;
  }
}

.hp-sectionheader {
  font-family: "Hack";
  font-size: 20px;
  color: $hp-primary;
  text-align: left;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 20px;
}

@media screen and (max-width: 600px) {
  .hp-sectionheader {
    font-size: 18px;
  }
}

.hp-link {
  font-family: "Hack";
  font-size: 18px;
  color: $hp-secondary;
  margin-left: 15%;
  margin-right: 15%;
  text-decoration: underline;
}

@media screen and (max-width: 600px) {
  .hp-link {
    font-size: 16px;
  }
}

.hp-enterbutton {
  font-family: "Hack";
  font-size: 20px;
  color: $hp-secondary;
  background-color: $pill-background;
  margin-left: 15%;
  margin-right: 15%;
  padding: 20px;
  display: flex;
  justify-content: left;
  align-items: left;
  text-decoration: underline;
}

@media screen and (max-width: 600px) {
  .hp-enterbutton {
    font-size: 18px;
  }
}

.hp-text {
  font-family: "Hack";
  font-size: 18px;
  color: $hp-primary;
  text-align: left;
  margin-top: 15px;
  margin-bottom: 10px;
  max-width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}

@media screen and (max-width: 600px) {
  .hp-text {
    font-size: 16px;
  }
}

.hp-centerify {
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.hp-bg {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  overflow: hidden;
  background-color: $background;
}

.hp-bg img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: blur(5px);
}

.squisher {
  display: flex;
}
