.sidebar {
  width: 50px;
  height: 80vh;
  background-color: $glass;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 30px $box-shadow;
  border-top: 1px solid $glass-border;
  border-right: 1px solid $glass-border;
  border-bottom: 1px solid $glass-border;
  border-radius: 0 20px 20px 0;
  z-index: 3;
  transition: width, 0.3s;
  position: fixed;
}

.sidebar-container {
  width: 100px;
  height: 100vh;
  position: fixed;
  z-index: 2;
  display: flex;
  align-items: center;
}

.sidebar-contents {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 2px;
  box-sizing: border-box;
  transition: padding, 0.3s;
}

.sidebar-icons {
  padding: 5px;
}

.icon-invert {
  filter: invert(0.5);
}

.sidebar:hover {
  width: 100px;
}

@media (max-width: 600px) {
  .sidebar {
    width: 25px;
    border-radius: 0 10px 10px 0;
  }

  .sidebar-icons {
    padding: 0px;
  }

  .sidebar:hover {
    padding: 5px;
  }
}

@media (min-width: 601px) and (max-width: 1500px) {
  .sidebar {
    width: 50px;
  }
}

@media (min-width: 1501px) {
  .sidebar {
    width: 100px;
  }
}
