// snippet here for later use. Not added to the css bundle
@keyframes slideOut {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  @keyframes slideIn {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  @media screen and (max-width: 1445px) {
    .sidebar {
      animation: slideOut 0.5s forwards;
    }
  }
  
  @media screen and (min-width: 1445px) {
    .sidebar {
      animation: slideIn 0.5s forwards; /* Assuming you want it to animate back in */
    }
  }