$hp-primary: #989ef1;
$hp-secondary: #b09ffc;
$box-shadow: rgba(0, 0, 0, 0.2);
$progress-bar: #59829f;
$pill-background: #050d1fc5;
$background: #0e0e0e;
$glass: rgba(128, 128, 128, 0.3);
$glass-border: rgba(255, 255, 255, 0.3);
$wp-primary: #dbbcb3;
$wp-secondary: #64acb6;