$font-colour: #dbbcb3;
$background-colour: #1d1c1a;
$image-url: "sign.avif";

@font-face {
  font-family: "Lazer84";
  src: url("Lazer84.ttf") format("truetype");
}
@font-face {
  font-family: "Hack";
  src: url("Hack.ttf") format("truetype");
}
@font-face {
  font-family: "Hack-Italic";
  src: url("Hack-Italic.ttf") format("truetype");
}

.main {
  font-family: "Lazer84";
  font-size: 130px;
  color: $font-colour;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 20px;
  margin-bottom: 0px;
}

.secondary {
  font-family: "Hack-Italic";
  font-size: 24px;
  color: $font-colour;
  margin-bottom: 20px;
  margin-left: 16.5%;
  margin-right: 16.5%;
  text-align: center;
}

.sectionheader {
  font-family: "Hack";
  font-size: 20px;
  color: $font-colour;
  text-align: left;
  margin-left: 15%;
  margin-right: 15%;
}

.text {
  font-family: "Hack";
  font-size: 18px;
  color: $font-colour;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}

.link {
  font-family: "Hack";
  font-size: 18px;
  color: #64acb6;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 35px;
}

.centerify {
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.bg {
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;  
  z-index: -1;
  background-color: $background-colour;
  background: url($image-url) no-repeat center center fixed, $background-colour;
  background-size: cover;
  position: fixed;
  overflow: hidden;
}