= render "layouts/sidebar"

= render "layouts/leniswrapper" do
  = render "layouts/navigationshortcutswrapper" do
    .metaverse-map-fullscreen
      / Accessible off-screen heading for screen readers
      %h1.visually-hidden Metaverse Map
      #metaverse-map{ data: { controller: 'metaverse-map', 'metaverse-map-data-url-value': map_data_path } }
