%p
  At Libreverse, we ❤️ projects under open licenses and want to give credit to
  the projects that made libreverse possible. Currently, this only includes
  projects where attribution is a license requirement, but we have plans to
  expand it in the future.
%ul
  %li
    %a.drawer-link{href: "https://github.com/twitter/twemoji?tab=readme-ov-file"} Libreverse-Twemoji
    which is modified from
    %a.drawer-link{href: "https://github.com/twitter/twemoji?tab=readme-ov-file"} Twemoji
    by
    %a.drawer-link{href: "https://x.com"} X Corp
    licensed under
    %a.drawer-link{href: "https://raw.githubusercontent.com/twitter/twemoji/refs/heads/master/LICENSE-GRAPHICS"} CC-BY-4.0
