<p>At Libreverse, we ❤️ projects under open licenses and want to give credit to
  the projects that made libreverse possible. Currently, this only includes
  projects where attribution is a license requirement, but we have plans to
  expand it in the future.</p>
<ul>
  <li>
    <a
      href="https://github.com/twitter/twemoji?tab=readme-ov-file"
      class="drawer-link"
    >Libreverse-Twemoji</a>
    which is modified from
    <a
      href="https://github.com/twitter/twemoji?tab=readme-ov-file"
      class="drawer-link"
    >Twemoji</a>
    by
    <a href="https://x.com" class="drawer-link">X Corp</a>
    licensed under
    <a
      href="https://raw.githubusercontent.com/twitter/twemoji/refs/heads/master/LICENSE-GRAPHICS"
      class="drawer-link"
    >CC-BY-4.0</a>
  </li>
</ul>
