<% include_stylesheet "drawer" %>
<aside class="drawer-container" role="complementary" data-controller="drawer">
  <div class="drawer" aria-labelledby="drawer-title">
    <div class="drawer-header">
      <h2 id="drawer-title" class="drawer-title"><%= content_for?(:drawer_title) ? yield(:drawer_title) : "Attribution" %></h2>
      <button
        class="drawer-toggle"
        type="button"
        data-action="drawer#toggle"
        aria-label="Toggle drawer"
      >
        <img
          src="<%= vite_asset_path "~/icons/chevron-up.svg" %>"
          class="drawer-icons"
          loading="eager"
          decoding="async"
          fetchpriority="high"
          draggable="false"
          aria-hidden="true"
          tabindex="-1"
          data-drawer-target="icon"
        >
      </button>
    </div>
    <div class="drawer-contents" data-drawer-target="content">
      <div class="drawer-content-container">
        <div class="drawer-content">
          <%= content_for?(:drawer) ? yield(:drawer) : render("layouts/default_drawer_content") %>
        </div>
      </div>
    </div>
  </div>
</aside>
