<% content_for :specifcstylesheets do %>
  <%= vite_stylesheet_tag "~/stylesheets/drawer.scss" %>
<% end %>
<aside class="drawer-container" role="complementary" data-controller="drawer">
  <div class="drawer" aria-labelledby="drawer-title">
    <div class="drawer-contents" data-drawer-target="content">
      <p>Drawer contents</p>
    </div>
    <button
      class="drawer-toggle"
      type="button"
      data-action="drawer#toggle"
      aria-label="Toggle drawer"
    >
      <img
        src="<%= vite_asset_path "~/icons/chevron-up.svg" %>"
        class="drawer-icons"
        loading="eager"
        decoding="async"
        fetchpriority="high"
        draggable="false"
        aria-hidden="true"
        tabindex="-1"
        data-drawer-target="icon"
      >
    </button>
  </div>
</aside>
