<%# Display form validation errors %>
<% if errors.present? %>
  <div class="form-errors">
    <h3 class="">Please fix the following errors:</h3>
    <ul class="">
      <% errors.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </div>
<% end %>
