<div
  class="toast toast-<%= type %>"
  role="alert"
  aria-live="assertive"
  aria-atomic="true"
>
  <div class="toast-header">
    <strong class="me-auto"><%= title %></strong>
    <button
      type="button"
      class="toast-close"
      data-action="toast#close"
      aria-label="Close"
    >
      <img
        src="<%= vite_asset_path "~/icons/x.svg" %>"
        class="toast-close-icon"
        loading="eager"
        decoding="async"
        fetchpriority="high"
        draggable="false"
        aria-hidden="true"
        tabindex="-1"
      >
    </button>
  </div>
  <div class="toast-body">
    <%= message %>
  </div>
</div>
