/ Link to adguard extra script first in order to override other scripts if needed
/ Only load in UGC webviews for adblocking functionality
= javascript_include_tag "https://userscripts.adtidy.org/release/adguard-extra/1.0/adguard-extra.user.js", data: {turbo_track: "reload"}
